<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.modosa.unblockdarkmode">

    <queries>
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.iflytek.inputmethod" />
        <package android:name="com.caij.see" />
        <package android:name="com.google.android.inputmethod.latin" />
        <package android:name="tv.danmaku.bili" />
        <package android:name="com.bilibili.app.in" />
        <package android:name="com.quark.browser" />
        <package android:name="com.qidian.QDReader" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity-alias
            android:name=".activity.XFeatureActivity"
            android:noHistory="true"
            android:targetActivity=".activity.RealXFeatureActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activity.RealXFeatureActivity"
            android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.INFO" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.MyPreferenceProvider"
            android:authorities="${applicationId}.preferences"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposeddescription" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>